@import "mixins";
@import "variables";

#navigation{
	position: fixed;
	height: 100px;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #fff;
	z-index: 999999;
	border-top:2px solid black;

	
	@media (max-width: 1199px) {
		/*
height:auto;
		position: relative;
*/
	}
	
}