<div class='container-fluid fullHeight'>

	<div class='row fullHeight'>
	
		<div class="cube-wrap vertical col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="cube depth">
			
				<div class="front-pane side">
					<div class='vCenter'>
						
						<div class='liquid absolute'>
							<img src='{{baseUrl}}img/home/news5.jpg'/>
						</div>
				
						<h1 class='vCenterKid'><a href='{{baseUrl}}{{lang}}/about/developer' class='links'>Developer</a></h1>
					</div>
				</div>
				
				<div class="back-pane side"></div>
				<div class="left-pane side"></div>
				<div class="right-pane side"></div>
			</div>
		</div>
		
		<div class="cube-wrap vertical col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="cube depth">
			
				<div class="front-pane side">
					<div class='vCenter'>
						<div class='liquid absolute'>
							<img src='{{baseUrl}}img/home/news6.jpg'/>
						</div>
						
						<h1 class='vCenterKid'><a href='{{baseUrl}}{{lang}}/about/project' class='links'>Project</a></h1>
					</div>
				</div>
				
				<div class="back-pane side"></div>
				<div class="left-pane side"></div>
				<div class="right-pane side"></div>
			</div>
		</div>
	
	
		<div class="cube-wrap vertical col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="cube depth">
			
				<div class="front-pane side">
					<div class='vCenter'>
						<div class='liquid absolute'>
							<img src='{{baseUrl}}img/home/news2.jpg'/>
						</div>
						
						<h1 class='vCenterKid'><a href='{{baseUrl}}{{lang}}/about/architects' class='links'>Architects</a></h1>
					</div>
				</div>
				
				<div class="back-pane side"></div>
				<div class="left-pane side"></div>
				<div class="right-pane side"></div>
			</div>
		</div>
		
		
	</div>
	
</div>