<div class='container-fluid fullHeight hiddenOverflow'>


	<div id='slider'>
	
		<div class="cube-wrap vertical col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="cube depth">
			
				<div class="front-pane side">
					
					<div class='liquid absolute'>
							<img src='{{baseUrl}}img/home/news5.jpg'/>
					</div>
					
					<!--
<div id='bgPart1' class='bgItem'>
		
						<div class='slides'>
							<div class='firstImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news6.jpg)" class='img1'></div>
							</div>
							
							<div id='img2Holder' class='secondImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news5.jpg)" class='img2'></div>
							</div>
						</div>
						
					</div>
					
					<div id='bgPart2' class='bgItem'>
					
						<div class='slides'>
							<div class='firstImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news6.jpg)" class='img1'></div>
							</div>
							
							<div class='secondImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news5.jpg)" class='img2'></div>
							</div>
						</div>
						
					</div>
					
					<div id='bgPart3' class='bgItem'>
					
						<div class='slides'>
							<div class='firstImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news6.jpg)" class='img1'></div>
							</div>
							
							<div class='secondImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news5.jpg)" class='img2'></div>
							</div>
						</div>
						
					</div>
					
					<div id='bgPart4' class='bgItem'>
					
						<div class='slides'>
							<div class='firstImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news6.jpg)" class='img1'></div>
							</div>
							
							<div class='secondImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news5.jpg)" class='img2'></div>
							</div>
						</div>
						
					</div>
					
					<div id='bgPart5' class='bgItem'>
					
						<div class='slides'>
							<div class='firstImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news6.jpg)" class='img1'></div>
							</div>
							
							<div class='secondImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news5.jpg)" class='img2'></div>
							</div>
						</div>
						
					</div>
					
					<div id='bgPart6' class='bgItem'>
					
						<div class='slides'>
							<div class='firstImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news6.jpg)" class='img1'></div>
							</div>
							
							<div class='secondImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news5.jpg)" class='img2'></div>
							</div>
						</div>
						
					</div>
					
					<div id='bgPart7' class='bgItem'>
					
						<div class='slides'>
							<div class='firstImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news6.jpg)" class='img1'></div>
							</div>
							
							<div class='secondImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news5.jpg)" class='img2'></div>
							</div>
						</div>
						
					</div>
					
					<div id='bgPart8' class='bgItem'>
					
						<div class='slides'>
							<div class='firstImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news6.jpg)" class='img1'></div>
							</div>
							
							<div class='secondImage slide'>
								<div style="background-image:url({{baseUrl}}img/home/news5.jpg)" class='img2'></div>
							</div>
						</div>
						
					</div>	
-->
								
				</div>
				
				<div class="back-pane side"></div>
				<div class="left-pane side"></div>
				<div class="right-pane side"></div>
			</div>
		</div>
	
		
	
	</div>

</div>