<div class='container-fluid fullHeight hiddenOverflow'>

	<div class='row fullHeight'>
	
		<div class="cube-wrap vertical col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="cube depth">
			
				<div class="front-pane side">
					
					<div id="svg-container">
						<div class="caption"></div>
					</div>

					<div id="scenes-container">
						<div id="scene" class="scene"></div>
				    </div>

				    <div id="flat-popin"></div>
				    <div id="overlay"></div>

				</div>
				
				<div class="back-pane side"></div>
				<div class="left-pane side"></div>
				<div class="right-pane side"></div>
			</div>
		</div>
	
	</div>

</div>