<div class='container-fluid fullHeight'>

	<div class='row fullHeight'>
	
		<div class="cube-wrap vertical col-xs-12 col-sm-3 col-md-6 col-lg-6">
			<div class="cube depth">
			
				<div class="front-pane side">
					<div class='vCenter'>
						<div class='vCenterKid'>
							<h1 href='{{baseUrl}}{{lang}}/about/developer' class='links'>{{data}}</h1>
						</div>
					</div>
				</div>
				
				<div class="back-pane side"></div>
				<div class="left-pane side"></div>
				<div class="right-pane side"></div>
			</div>
		</div>
		
		<div class="cube-wrap vertical col-xs-12 col-sm-3 col-md-6 col-lg-6">
			<div class="cube depth">
			
				<div class="front-pane side">
					<div class='liquid'>
						<img src='{{baseUrl}}img/home/news6.jpg'/>
					</div>
				</div>
				
				<div class="back-pane side"></div>
				<div class="left-pane side"></div>
				<div class="right-pane side"></div>
			</div>
		</div>
	
	
		
		
	</div>
	
</div>